{% extends 'layout.twig' %}

{% block body %}
    <form action="/create" method="post" accept-charset="UTF-8">
        <h2>Add a new page</h2>
        <label for="title">Page name</label>
        <input placeholder="title" id="title" type="text" name="title">
        <label for="subtitle">Subtitle</label>
        <input placeholder="subtitle" id="subtitle" type="text" name="subtitle">

        <label for="content">Content</label>
        <textarea id="content" type="text" name="content"></textarea>
        <br>
        <a id="send-button" onclick="savePage()">Add page</a>
    </form>
{% endblock %}
